body {
  font-family:'Work Sans', sans-serif;
}

main {

  padding: 90px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
}

h2 {
  font-size: 2em;
  text-align: center;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:800px;
  font-size: 1em;
  font-family:'Work Sans', sans-serif;
  padding:10px;
  border-radius: 50px;
  border: 1px solid #d0d0d0;
}

p {
text-align: center;
}
