/* Bleu FJME : #30356b */
/* Orange FJME : #c6561c */
/* Bleu compl-orange : #1c37c6 */
/* Turquoise compl-orange: #19b098 */
/* Orange clair #f9e1d4 */

/* --------- ELEMENTS GENERAUX --------- */
* {
	box-sizing: border-box;
}

body {
	font-family:'Libre Baskerville', sans-serif;
	background: #f9e1d4 ; /* Fonds orange clair */
	color: #1c37c6;
	background-image: url('../img/logo_grand_blanc.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	font-size: 2em;
	font-weight:bold;
	color: #c6561c;
}

h2 {
	font-size: 1.5em;
	font-weight:bold;
	color: #c6561c;
}

h2 span {
	font-size: 0.8em;
}

strong {
	font-weight:bold;
}

em {
	font-style: italic;
}

code {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	font-family: monospace;
	padding: 2px;
	background-color: #e8e8e8;
}

main ul, main ol {
	margin-left:10px;
	padding:5px;
}

main li {
	list-style-type: disc;
	margin-left:15px;
}

/* --------- HEADER : Barre de titre --------- */

#page-header {
	height:70px;
	background-color: #c6561c ; /* Fonds orange */
	color: white;
	font-family: 'Work Sans', serif;
	display: flex;
	align-items: center;
	position:fixed;
	width:100%;
	z-index:3;
}

#page-header > h1 {
	margin: auto;
	color: white;
}

#page-header img {
	height:60px;
}


a {
	color: #19b098;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {

}

/* pour grouper plusieurs titres h. */
/* les deux se suivent sur une même ligne */
hgroup {
	display: flex;
	align-items: baseline;
}

/* --------- NAVIGATION LATERALE --------- */

nav {
    height: 100%; /*100% Full-height */
    width: 320px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f9e1d4 ; /* Fonds orange clair */
    color: #c6561c;
    /* overflow-x: hidden; Disable horizontal scroll */
    margin-top: 70px; /* Place content 70px from the top */
    padding: 5px;
		font-family: 'Work Sans';
}

nav section {
	background-color: white;
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul {
	padding: 5px;
	font-size: 1em;
}

nav ul li:before {
	content: '>';
    margin: 0 1em;
    color: #c6561c;
}

/* --------- Search field --------- */

.search-field {
	margin: 5px;
	padding: 10px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
	font-family:'Work Sans';
	font-size: 1em;
	width:100%;
}

.embed-submit-button {
	position:relative;
	width:100%;
}

#search button {
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 7px;

	-webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  background: #ededed;
  border-radius: 3px;
  padding: 10px;

	transition: all .2s;
}
#search button:hover {
      background-color: #19b098;
      color: #fff;
      cursor: pointer;
}

#search {
	display:flex;
	align-items: center;

}

#info-search {
	margin-left:13px;
	margin-right:10px;
}

/* --------- Facettes --------- */

.facette-section {
	max-height: 200px;
	overflow: auto;
}

.facette-section input[type="checkbox"] {
	display: none;
}

.facette-section :checked + span {
  font-weight: bold;
}

.facette-section label {
	color: #19b098;
}

.facette-section label:hover {
	text-decoration: underline;
	cursor: pointer;

}

/* --------- MAIN : Contenu variable --------- */

main {
	margin-left:300px;
	padding-top:70px;

}

article {
	width: inherit;
}

/* ------ Box blanches : eléments généraux ------ */

#intitule, #cote, #imp-mat, #did, #doc_phys, #doc_nums, #enfants, .page-section {
	font-family: 'Work Sans', sans-serif;
}

main section {
	margin: 10px; /* top-bottom, left-right */
	padding: 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background:white;
	width: 1000px;
	margin-left: auto;
  margin-right: auto;
}

section h1 {
	font-size: 1.50em;
	font-weight:normal;
	padding: 5px;
  font-family: 'Work Sans', serif;
	color: #c6561c;
}

section h2 {
	font-size: 1.20em;
	font-weight:normal;
	padding: 5px;
	font-family: 'Work Sans', serif;
	color: #c6561c;
}

section h3 {
	font-size: 1.1em;
	font-weight:normal;
	padding: 5px;
	font-family: 'Work Sans', serif;
	color: #c6561c;
}

section h4 {
	font-size: 1em;
	font-weight:normal;
	padding: 5px;
	font-family: 'Work Sans', serif;
	color: #c6561c;
}

section p {
	/* font-family: 'Work Sans', serif; */
	font-size: 1em;
	line-height: 1.3em;
	text-align: justify;
	padding:5px;
}

section p strong {
	color: #c6561c;
}

section p:last-child {
	margin-bottom: 0px;
}

section table {
	font-size: 1.1em;
	line-height: normal;
	 width: 100%;
}

section tr {
	 border-bottom:1px solid #d0d0d0;

}

section tr:last-child {
	border-bottom:none;
}

section td {
	padding:5px;

}

/* --- Box blanches : titre page --- */



#intitule hgroup {
	flex-direction: column;
}

#intitule header {
	border:none;
}

#intitule h1 {
	font-size:2em;
	font-weight:bold;
}

/* --- Box blanches : breadcrumbs --- */

#breadcrumbs {
	font-family: 'Work Sans';
}

/* --- Box blanches : articles --- */
#document {
	padding:10px;
	font-family: 'Work Sans';
}

#document h1 {
	font-size: 2em;
	border-bottom: 1px solid LightGray ;
	padding-bottom:0px;
	margin-bottom:10px;
}

#document h2 {
	font-size: 1.5em;
	padding-top: 10px;
}

#document h3 {
	padding-top: 10px;
}

/* --- Box blanches : titre à gauche --- */

#doc_phys p, #doc_num p {
	text-align: left;
}

.titre-gauche {
    display: flex;
}

.titre-gauche header {
	flex: 0 0 200px;
	background: #1c37c6;
	padding: 5px;
}

.titre-gauche h1 {
	color: white;
}

.titre-gauche .corps-section {
	flex: auto;
}

.corps-section h2 {
	padding-top:5px;
}



.grid-tri section {
	margin-top: 5px;
	margin-bottom: 5px;
}

video {
	width:100%;
	display:block;
	margin: 0 auto;
}

audio {
	width:100%;
	display:block;
	margin: 0 auto;
}

#images img {
	max-width:800px;
	display:block;
	margin: 0 auto;
}

#audio .corps-section {
	background: black;
}

#findaid embed, #textes embed {
	padding: 0;
	width:100%;
	height:85vh;
}

#enfants {
	display: flex;
	align-items:baseline;
}

#enfants h2 {
	width: 200px;
	padding-left: 10px;
	margin-right:10px;
}

#enfants select {
	background: transparent;
  border: 1px solid #ddd;
	padding: 5px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	font-family: 'Work Sans';
	background-image: url('arrow-down.png');
	background-size: 19px;
	background-repeat: no-repeat;
	background-position: right 5px;
	flex-grow: 1;
	margin-right:10px;
}

#enfants input {
	margin-top:5px;
	margin-bottom: 5px;
	border: 1px solid #ddd;
	padding: 5px;
	height:31px;
	flex-grow: 1;
	margin-right:10px;
}

/* --------- Resultats recherche --------- */

#result-search {
	/* width:75%;
	margin: 0 auto; */
	margin: 10px; /* top-bottom, left-right */
	padding: 0px 0px;	
	width: 1000px;
	margin-left: auto;
  margin-right: auto;

}

#result-search .result-item {
	width:100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

#result-search .result-item:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

#result-search .result-item a {
	color: #c6561c;
	text-decoration:none;
	display: flex;
}

#result-search .droite {
	flex:auto;

}

#result-search .vignette {
	object-fit: cover;
	overflow: hidden;
	flex: 0 0 200px;
	height:100px;
}

#result-search .data-date, .date-tri {
	display: none;
}

/* --------- Pagination --------- */

.page-section p {
	display: flex;
	justify-content: space-around;
}

.page-section input[type="radio"] {
	display: none;
}

.page-section :checked + span {
  font-weight: bold;
}

.page-section label {
	color: #19b098;
}

.page-section label:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* --------- Je ne sais pas si c'est encore utilisé --------- */

.ligne {
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: space-between;
}

.lrg-1-2 {
	width: 50%;
}
